{% extends "base_file.html" %}
{% block cssfile %}
 <link rel="stylesheet" href="/static/css/styles.css" />
<style>
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>
{%endblock%}

{% block content %}
<ul class="fancyNav col-center-block">
                <li id="home"><a href="#home" class="homeIcon">Home</a></li>
                <li id="news"><a href="#news">News</a></li>
                <li id="about"><a href="#about">About us</a></li>
                <li id="services"><a href="#services">Services</a></li>
                <li id="contact"><a href="#contact">Contact us</a></li>
</ul>
{%endblock%}